/* .productTitle {
  transform: rotatex(180deg) translatey(15px);
  -webkit-mask-image: linear-gradient(transparent 40%, white 90%);
  mask-image: linear-gradient(transparent 50%, white 90%);
  opacity: 0.7;
} */
